@media screen and (max-width:600px){
    
    .ham{
        display: block;
    }
    .nav-list-container{
        display:none;
        
        
    }
    .banner-input , .popular-section{
        flex-direction: column;
    }
    .popular-img img {
        width: 100%;
    }
    .banner-description {
        font-size: 2vw;
        width: 54vw
    }
}